In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.read_csv("data/us_pto_2017/assignee.csv")#gets the detailsa about the "owner" of the patent

In [3]:
df = pd.read_csv("data/us_pto_2017/assignment_conveyance.csv")
df.head()

      rf_id   convey_ty  employer_assign
0  12800340  assignment                1
1  36250888     namechg                0
2  36340874  assignment                1
3  36340875  assignment                1
4  36920537  assignment                0

In [4]:
df = pd.read_csv("data/us_pto_2017/assignment_sample.csv")#list of all transactions leading up through 2017 since 1970

In [5]:
df.head()

,rf_id,file_id,cname,caddress_1,caddress_2,caddress_3,caddress_4,reel_no,frame_no,convey_text,record_dt,last_update_dt,page_count,purge_in
0,382930809,17,STAAS & HALSEY LLP,"1201 NEW YORK AVE., N.W.",SUITE 700,"WASHINGTON, DC 20005",NaN,38293,809,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2016-04-15,2016-08-11,11,N
1,152210123,7,"ALIX YALE & RISTAS, LLP","THOMAS J. MENARD, ESQ.",750 MAIN STREET,"HARTFORD, CT 06103-2721",NaN,15221,123,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2004-04-16,2004-10-06,4,N
2,372400001,17,WENDY THOMAS,"1299 PENNSYLVANIA, SUITE 700",PATENT DEPARTMENT/ATTN: MARK ROGEL,"WASHINGTON, DC 20004",NaN,37240,1,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2015-12-08,2016-04-26,5,N
3,435350335,18,SETTER ROCHE LLP,14694 ORCHARD PARKWAY,"BUILDING A, SUITE 200","WESTMINSTER, CO 80023",NaN,43535,335,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2017-09-08,2018-01-11,4,N
4,275750520,13,"OBLON, SPIVAK, ET AL.",1940 DUKE STREET,"ALEXANDRIA, VA 22314",NaN,NaN,27575,520,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2012-01-23,2015-05-19,4,N

## Exploring Patent Titles

In [6]:
df = pd.read_csv("data/us_pto_2017/documentid_sample.csv")#List of all patents granted since 1970
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
rf_id            10000 non-null int64
title            9732 non-null object
lang             9732 non-null object
appno_doc_num    9962 non-null object
appno_date       9732 non-null object
appno_country    9962 non-null object
pgpub_doc_num    5559 non-null float64
pgpub_date       5559 non-null object
pgpub_country    5559 non-null object
grant_doc_num    8311 non-null object
grant_date       8041 non-null object
grant_country    8311 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 937.6+ KB

In [7]:
df.head()

,rf_id,title,lang,appno_doc_num,appno_date,appno_country,pgpub_doc_num,pgpub_date,pgpub_country,grant_doc_num,grant_date,grant_country
0,363070199,Polynucleotide probes for detection and quanti...,en,09565156,2000-05-03,US,NaN,NaN,NaN,6326486,2001-12-04,US
1,139330061,ADJUSTABLE LAMP HOLDER,en,29079542,1997-11-19,US,NaN,NaN,NaN,D399018,1998-09-29,US
2,160690180,BENCH MOUNTABLE PLATE JOINING MACHINE,en,07233490,1988-08-19,US,NaN,NaN,NaN,D326103,1992-05-12,US
3,380170058,SYSTEM FOR MONITORING AND CONTROLLING THE POWE...,en,14278787,2014-05-15,US,2.014032e+10,2014-10-30,US,9491723,2016-11-08,US
4,186880199,Transformation method and system of computer s...,en,10840283,2004-05-07,US,2.005025e+10,2005-11-10,US,NaN,NaN,NaN

In [8]:
df['lang'].value_counts()

en    9732
Name: lang, dtype: int64

all in english

In [9]:
df['appno_date'].describe()

count           9732
unique          5581
top       1995-06-07
freq              14
Name: appno_date, dtype: object

In [10]:
pd.to_datetime(df['appno_date']).describe()

count                    9732
unique                   5581
top       1995-06-07 00:00:00
freq                       14
first     1963-09-12 00:00:00
last      2017-10-16 00:00:00
Name: appno_date, dtype: object

In [11]:
pd.to_datetime(df['grant_date']).describe()

count                    8041
unique                   1836
top       2014-05-06 00:00:00
freq                       17
first     1966-06-07 00:00:00
last      2018-02-27 00:00:00
Name: grant_date, dtype: object

In [12]:
df['grant_date'] = pd.to_datetime(df['grant_date'])
df.set_index('grant_date',inplace=True)
df.sort_index(inplace=True)

In [13]:
df.head(20)

,rf_id,title,lang,appno_doc_num,appno_date,appno_country,pgpub_doc_num,pgpub_date,pgpub_country,grant_doc_num,grant_country
grant_date,,,,,,,,,,,
1966-06-07,42480945,PREPARATION OF DICARBOXYLIC ANHYDRIDES,en,04274350,NaN,US,NaN,NaN,NaN,3255213,US
1967-04-11,38660442,UNITARY MOLDED GOLF BALL,en,04308360,1963-09-12,US,NaN,NaN,NaN,3313545,US
1969-03-11,39620694,PRIMERS FOR USE WITH DELAY ACTION BLASTING CAP...,en,04660745,1967-08-15,US,NaN,NaN,NaN,3431851,US
1969-09-30,50910198,CASTING PROCESS,en,04631980,1967-04-19,US,NaN,NaN,NaN,3469620,US
1970-12-08,46900073,NaN,NaN,04674237,1967-10-10,US,NaN,NaN,NaN,3546492,US
1971-01-19,47500865,DIMERIZATION OF CYCLOPENTADIENE IN ISOPRENE ST...,en,04889700,1969-12-31,US,NaN,NaN,NaN,3557240,US
1971-04-13,45020191,SPRING AND FRAME ASSEMBLY,en,04770707,1968-10-25,US,NaN,NaN,NaN,3574240,US
1971-07-27,43850934,PIANO,en,05021574,1970-02-24,US,NaN,NaN,NaN,D221304,US
1971-11-09,45680189,PACKER FOR SEALING PIPE LEAKS,en,04879256,1969-11-24,US,NaN,NaN,NaN,3618639,US
1973-09-25,46750771,PROCESS CONTROL COMPUTER,en,05203570,1971-12-01,US,NaN,NaN,NaN,3761882,US
1973-10-02,44730822,CLUTCH,en,05231677,1972-03-03,US,NaN,NaN,NaN,3762233,US
1973-11-20,47390662,GAS GENERATOR,en,05167944,1971-08-02,US,NaN,NaN,NaN,3773351,US
1974-01-03,47480945,METHOD OF KILLING INSECTS EMPLOYING A CERTAIN ...,en,05662171,1976-03-01,US,NaN,NaN,NaN,4066774,US
1974-01-15,45460955,SYNCHRONOUS MOTOR,en,05293950,1972-10-02,US,NaN,NaN,NaN,3786291,US
1974-02-26,43010180,PROCESS AND SYSTEM FOR RECOVERING CARBON,en,05335009,1973-02-23,US,NaN,NaN,NaN,3794250,US
1975-04-01,44890491,UNITARY FOOD TRAY MAKE-UP CONVEYOR TABLE APPAR...,en,05302770,1972-11-01,US,NaN,NaN,NaN,3874479,US
1975-07-01,52280683,MULTI-USE INHALATION THERAPY APPARATUS,en,05384267,1973-07-31,US,NaN,NaN,NaN,3892235,US
1976-01-13,43000235,LATCHING MEANS,en,05461961,1974-04-18,US,NaN,NaN,NaN,3931926,US
1976-01-27,60960701,DISPLAY CARTON FOR TUBES,en,05523216,1974-11-13,US,NaN,NaN,NaN,3934719,US
1976-06-29,40740355,WEIGHING APPARATUS,en,05593029,1975-07-03,US,NaN,NaN,NaN,3966000,US

In [14]:
patent_titles = df['title']

In [15]:
patent_titles.dropna(inplace=True)

In [16]:
patent_titles.head()

grant_date
1966-06-07               PREPARATION OF DICARBOXYLIC ANHYDRIDES
1967-04-11                             UNITARY MOLDED GOLF BALL
1969-03-11    PRIMERS FOR USE WITH DELAY ACTION BLASTING CAP...
1969-09-30                                      CASTING PROCESS
1971-01-19    DIMERIZATION OF CYCLOPENTADIENE IN ISOPRENE ST...
Name: title, dtype: object

## Vectorization of Patent Titles

### Count Vectorizer

In [17]:
from sklearn.feature_extraction import text

In [18]:
cv = text.CountVectorizer(stop_words='english')

In [19]:
X = cv.fit_transform(patent_titles)

In [20]:
df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names())

In [21]:
len(cv.get_feature_names())

9328

In [22]:
df.head()

,02,0330739,05,0f,10,1000,100f,106,11,110,...,zip,zipper,zippered,zirconium,zn1,zone,zones,zoom,zored,zoster
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#TODO: explore with tfidf
#todo: explore lemmatization

In [24]:
df.sum().sort_values(ascending=False)

method                    2466
apparatus                 1124
device                    1080
methods                    516
using                      426
control                    351
having                     348
data                       340
process                    300
systems                    282
circuit                    269
image                      255
semiconductor              247
based                      230
display                    229
vehicle                    214
processing                 210
assembly                   210
manufacturing              209
power                      206
thereof                    201
network                    197
high                       195
use                        192
electronic                 187
optical                    173
memory                     168
devices                    168
communication              162
information                159
                          ...
mram                         1
mrt                          1
msisdn                       1
mst                          1
mtp                          1
mortgage                     1
morpho                       1
morphinans                   1
momentum                     1
moieties                     1
moire                        1
moisturizing                 1
molar                        1
moldable                     1
moldings                     1
molds                        1
molybdenite                  1
molybdenum                   1
monoalkyl                    1
mooring                      1
monoanhydride                1
monochlorohydroquinone       1
monocrystal                  1
monoepoxide                  1
monolignol                   1
monoliths                    1
monophenotypic               1
monosubstituted              1
moorea                       1
02                           1
Length: 9328, dtype: int64

## adding more stop words

In [25]:
additional_stops = ['method','apparatus','device','use','using','thereof','methods','having','making','based']

In [26]:
stop_words = text.ENGLISH_STOP_WORDS.union(additional_stops)

In [27]:
# cv = text.CountVectorizer(stop_words=stop_words)

# X = cv.fit_transform(patent_titles)

# df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names())

# len(cv.get_feature_names())

9318

In [28]:
df.head()

,02,0330739,05,0f,10,1000,100f,106,11,110,...,zip,zipper,zippered,zirconium,zn1,zone,zones,zoom,zored,zoster
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#TODO: explore with tfidf
#todo: explore lemmatization

# df.sum().sort_values(ascending=False)

control                   351
data                      340
process                   300
systems                   282
circuit                   269
image                     255
semiconductor             247
display                   229
vehicle                   214
processing                210
assembly                  210
manufacturing             209
power                     206
network                   197
high                      195
electronic                187
optical                   173
memory                    168
devices                   168
communication             162
information               159
multi                     149
storage                   145
computer                  144
forming                   140
structure                 131
compositions              131
light                     129
unit                      126
composition               123
                         ...
mrt                         1
msisdn                      1
mst                         1
mtp                         1
mud                         1
mosquitocides               1
mortgage                    1
morpho                      1
monoalkyl                   1
moire                       1
moisturizing                1
molar                       1
moldable                    1
moldings                    1
molds                       1
molybdenite                 1
molybdenum                  1
momentum                    1
monoanhydride               1
morphinans                  1
monochlorohydroquinone      1
monocrystal                 1
monoepoxide                 1
monolignol                  1
monoliths                   1
monophenotypic              1
monosubstituted             1
moorea                      1
mooring                     1
02                          1
Length: 9318, dtype: int64

## TFIDF

In [30]:
tf = text.TfidfVectorizer(stop_words=stop_words, ngram_range=(1,2))

In [31]:
tfidf_vecs = tf.fit_transform(patent_titles)

In [32]:
df = pd.DataFrame(tfidf_vecs.toarray(), columns=tf.get_feature_names())

len(tf.get_feature_names())

43811

In [33]:
df.sum().sort_values(ascending=False)

semiconductor             68.557443
control                   65.130707
display                   56.734913
data                      56.374043
process                   51.323203
image                     50.098515
circuit                   49.338228
systems                   49.070262
vehicle                   48.269504
manufacturing             47.837203
assembly                  43.531117
electronic                42.904460
processing                42.670034
power                     39.836870
network                   37.577394
communication             35.495224
memory                    35.071793
optical                   34.397612
high                      34.198633
devices                   33.103016
storage                   31.944853
information               31.551561
structure                 28.834141
forming                   28.781505
multi                     28.767130
compositions              28.364135
computer                  27.886967
light                     27.761354
machine                   27.469585
composition               26.695624
                            ...
utilization recording      0.146469
label reversible           0.142385
medium reversible          0.142385
recording label            0.142385
recording member           0.142385
storing control            0.141187
processing transfer        0.141187
transfer controlling       0.141187
processing output          0.141187
output controlling         0.141187
manufacturing steel        0.137250
quenching sheared          0.137250
portion steel              0.137250
quenched manufacturing     0.137250
product molded             0.135482
molding including          0.135482
mold injection             0.135482
mold molding               0.135482
molding molding            0.135482
molded molding             0.135482
mold product               0.135482
including molding          0.135482
treatment agent            0.131464
agent zinc                 0.131464
sheet zinc                 0.131464
poe block                  0.130495
mounted electronic         0.125139
automobile mounted         0.125139
member automobile          0.125139
member lead                0.125139
Length: 43811, dtype: float64

## Topic Modeling

In [51]:
def print_topics(topics):
    for i,topic in enumerate(topics):
        print("Topic {}".format(i))
        print(", ".join(topic)+"\n")

## NMF

In [64]:
from sklearn.decomposition import NMF
nmf = NMF(n_components=20)
nmf_vecs = nmf.fit_transform(tfidf_vecs)

In [65]:
nmf.components_.shape

(20, 43811)

In [66]:
len(df.columns)

43811

### topics

In [67]:
features = tf.get_feature_names()

In [68]:
topic_words = [[features[idx] for idx in np.flip(np.argsort(component)[-10:])] for component in nmf.components_]

In [69]:
print_topics(topic_words)

Topic 0
semiconductor, manufacturing semiconductor, semiconductor devices, semiconductor memory, semiconductor manufacturing, devices, fabricating semiconductor, forming, semiconductor substrate, fabricating

Topic 1
display, panel, image display, driving, display panel, display driving, panel display, driving display, display screen, electronic display

Topic 2
image, forming, image forming, image processing, image display, processing image, recording, cartridge, image recording, sensor

Topic 3
control, engine, combustion, internal combustion, internal, combustion engine, fuel, valve, control control, remote control

Topic 4
vehicle, motor, motor vehicle, wheel, vehicle wheel, drive, seat, hybrid, vehicle seat, body

Topic 5
circuit, integrated, integrated circuit, board, circuit board, semiconductor integrated, testing, printed circuit, printed, manufacturing integrated

Topic 6
light, emitting, light emitting, organic, organic light, emitting display, emitting diode, diode, diode display, semiconductor light

Topic 7
liquid, liquid crystal, crystal, crystal display, display, display manufacturing, manufacturing liquid, comprising, active matrix, liquid ejecting

Topic 8
electronic, component, electronic component, electronic display, electronic devices, unit, control electronic, electronic controlling, controlling, gaming

Topic 9
manufacturing, semiconductor manufacturing, manufacturing semiconductor, substrate, recording, recording medium, board, film, medium, magnetic

Topic 10
data, storage, data storage, transmission, data transmission, data processing, video, network, management, medium

Topic 11
container, storage container, storage, lid, packaging, plastic, cap, packaging container, plastic container, display container

Topic 12
communication, network, wireless, mobile, wireless communication, communication communication, station, radio, terminal, communication network

Topic 13
connector, electrical, electrical connector, optical, connector assembly, optical connector, fiber, optical fiber, cable, multi

Topic 14
systems, devices, delivery, computer, content, devices systems, management, user, multi, providing

Topic 15
process, producing, preparation, composition, compositions, process preparation, preparing, process producing, production, process preparing

Topic 16
processing, information, information processing, image processing, processing information, medium, program, recording, signal, signal processing

Topic 17
power, high, supply, power supply, voltage, converter, transmission, speed, low, fuel

Topic 18
memory, semiconductor memory, magnetic, access, operating, non, non volatile, volatile, cells, memory operating

Topic 19
assembly, valve, sensor, connector assembly, buckle, head, mounting, buckle assembly, filter, air

## Visualization

### LDA

In [ ]:
from gensim import corpora, models, similarities, matutils
counts = X.transpose()
corpus = matutils.Sparse2Corpus(counts)
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [ ]:
lda = models.LdaModel(corpus=corpus, num_topics=100, id2word=id2word, passes=10)

In [ ]:
lda.print_topics()

### topic space

let's transform our titles and see how they fall into our topic space

In [ ]:
lda_corpus = lda[corpus]
lda_docs = [doc for doc in lda_corpus]

In [ ]:
lda_docs[0:15]

In [ ]:
lda.log_perplexity(lda_docs[0:15])